.mid-page{
    height: 15px;
}
.full-page a{
    text-decoration: none;
}
p,h1{
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.learn-more-button{
    background-color:rgb(0,119,237) ;
    color: white;
    height: 40px;
    width: 110px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;
}
.learn-more-button:hover{
    background-color: white;
    color: rgb(0,119,237);
    border: 1px solid;
    border-color:  rgb(0,119,237);
}
.Buy-button{
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    color: rgb(0,119,237);
    border: 1px solid;
    border-color:  rgb(0,119,237);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.Buy-button:hover{
    color: white;
    background-color: rgb(0,119,237);
    border: 1px solid;
}
a:hover{
text-decoration: underline black;
}